<template>
  <div id="Game">
    <div id="twocolumn" class="row">
      <div class="column left">
        <div class="header">
          <div class="userInfo">
            {{ user.name }}
            <hr />
            <span class="userPoints">{{ user.points }}</span>
          </div>
          <div class="move">Tavs gājiens, izvēlies savu ceļu</div>
        </div>
        <div class="container">
          <img alt="cave" src="../assets/cave.png" />
          <div v-if="buttons==0">
            <button type="submit" class="arrow arrow1" v-on:click="OnPath(0)" />
            <button type="submit" class="arrow arrow2" v-on:click="OnPath(1)" />
            <button type="submit" class="arrow arrow3" v-on:click="OnPath(2)" />
          </div>
          <div v-else class="dialog">
            An angry dwarf named Duri seeks a company of adventurers to discover the fate of an order of scholars and mages lost in Snake Island. Moreover, the party must complete the quest within 4 days.
            <input type="submit" value="Turpināt" class="dbutton" v-on:click="OnNext" />
            <div class="points">-2</div>
          </div>
        </div>
      </div>
      <div class="column right">
        <div v-for="(data, idx) in userList" v-bind:key="idx" v-bind:class="''">
          <UserCard v-if="data.ingame" :userID="idx" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator'
import { myStore, StoreUser, StoreState } from '../store'
import UserCard from '@/components/UserCard.vue'
import ExtUser from '@/components/ExtUser.vue'

@Component({
  components: {
    UserCard
  }
})
export default class Game extends ExtUser {
  private selUser = 0
  private buttons = 1
  private gameUser: StoreUser = {
    key: '',
    name: '',
    points: 0,
    actions: 0,
    posts: [],
    active: false,
    ingame: false,
    host: false
  }

  mounted () {
    this.gameUser = myStore.gameUser
    console.log('Game mounted')
  }

  private OnPath (n: number) {
    console.log('Path: ' + n)
    this.buttons = 1
  }

  private OnNext () {
    console.log('next')
    this.buttons = 0
  }
}

</script>

<style scoped>
#twocolumn,
#game {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.caption {
  font-weight: bold;
  padding: 5px;
}

.header {
  height: 132px;
}
.userInfo {
  display: block;
  float: left;
  font-size: 2em;
  color: antiquewhite;
  text-align: center;
  width: 200px;
  height: 100%;
  padding-left: 10px;
  border-style: solid;
  border-color: antiquewhite;
}

.userPoints {
  display: block;
  font-size: 2.4em;
  font-weight: bold;
  margin-top: -22px;
}

.move {
  font-size: 2em;
  color: rgb(187, 187, 187);
}
.container {
  position: relative;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.arrow {
  position: absolute;
  cursor: pointer;

  height: 100px;
  width: 230px;
  background-image: url("../assets/woodenArrow.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 200px 100px;
  animation: animatedBackground 1s ease-in-out infinite alternate;
  opacity: 0.75;
  border: none;
  transform: rotate(30deg);
}

.arrow1 {
  top: 75%;
  left: 45%;

  animation: animatedBackground 0.95s ease-in-out infinite alternate;

  transform: rotate(70deg);
}

.arrow2 {
  top: 55%;
  left: 15%;

  animation: animatedBackground 0.96s ease-in-out infinite alternate;

  transform: rotate(30deg);
}

.arrow3 {
  top: 35%;
  left: 65%;

  transform: rotate(200deg);
}

.points {
  position: absolute;
  top: 370px;
  left: 50%;
  color: antiquewhite;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 3px 3px rgb(59, 59, 59);
}

.dbutton {
  position: absolute;
  top: 350px;
  left: 70%;
  width: 200px;
  height: 70px;

  border: none;
  cursor: pointer;

  background-image: url("../assets/woodenButton.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 200px 70px;

  color: antiquewhite;
  font-size: 1em;
}

.dialog {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 1000px;
  height: 500px;

  background-image: url("../assets/woodenDialog.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 1190px 500px;

  color: antiquewhite;
  text-shadow: 2px 2px rgb(59, 59, 59);
  font-size: 2em;
  padding-top: 80px;
  padding-bottom: 0;
  padding-left: 90px;
  padding-right: 90px;

  line-height: 1.8em;
}

#twocolumn .left {
  width: 1200px;
  height: 650px;
  background-color: #0d310e;
}

#twocolumn .right {
  border: none;
  margin-left: 14px;
}
</style>
