<template>
  <Game v-if="user.ingame" />
  <div v-else id="twocolumn">
    <div class="column left">
      <UserPosts v-if="user.active" />
      <UserInput v-else />
    </div>
    <div class="column right">
      <UsersList v-if="!state.update" />
      <h1 v-else>Wait for users</h1>
    </div>
  </div>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator'
import { myStore, StoreState, StoreUser } from '../store'
import UserInput from '@/components/UserInput.vue'
import UsersList from '@/components/UsersList.vue'
import UserPosts from '@/components/UserPosts.vue'
import Game from '@/views/Game.vue'
import ExtUser from '@/components/ExtUser.vue'

@Component({
  components: {
    UserInput,
    UsersList,
    UserPosts,
    Game
  }
})
export default class Home extends ExtUser {
}
</script>
