<template>
  <div id="posts">
    <table id="table">
      <tr>
        <th class="green">Action</th>
        <th class="points green">Points</th>
        <th class="points green"></th>
      </tr>
      <tr v-for="(data, idx) in user.posts" v-bind:key="idx">
        <td>{{data.text}}</td>
        <td class="points">{{data.points}}</td>
        <td class="points">
            <input type="submit" value="Remove" id="button" class="red" v-on:click="remove(idx)"/>
        </td>
      </tr>
    </table>
  </div>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator'
import { myStore, StoreUser } from '../store'
import ExtUser from '@/components/ExtUser.vue'

@Component
export default class PostsList extends ExtUser {
  private deleteIndex = -1

  remove (idx: number) {
    myStore.RemovePost(idx)
  }
}
</script>

<style scoped>
#table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
#table .points {
  width: 120px;
  text-align: center;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
}

#button {
  width: 80px;
  padding: 3px;
  margin: 0;
  font-size: 0.9em;
}

</style>
