<template>
  <div id="radio">
    <div class="label">Punkti par uzdevumu</div>
    <input type="radio" id="radioApple" value="-2" v-model="points" v-on:click="update(-2)"/>
    <label for="radioApple" class="radioApple">-2</label>

    <input type="radio" id="radioBanana" value="-1" v-model="points" v-on:click="update(-1)"/>
    <label for="radioBanana" class="radioBanana">-1</label>

    <input type="radio" id="radioOrange" value="1" v-model="points" v-on:click="update(1)" checked/>
    <label for="radioOrange" class="radioOrange">1</label>

    <input type="radio" id="radioAnanas" value="2" v-model="points" v-on:click="update(2)"/>
    <label for="radioAnanas" class="radioAnanas">2</label>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Radio extends Vue {
  public points = 1

  update (n: number) {
    this.points = n
    this.$emit('changePoints', n)
  }
}
</script>

<style scoped>

.label {
  display: block;
  width: 250px;
  height: 20px;
  padding: 5px 2px;
  margin-right: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

#radio {
  margin: 10px;
  height: 80px;
}

#radio input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#radio label {
  display: inline-block;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 1px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1px;
}

#radio label:hover {
  background-color: rgb(70, 32, 192);
}

#radio input[type="radio"]:focus + label {
  border: 1px solid #444;
  border-bottom-width: 3px;
}

#radio input[type="radio"]:checked + label {
  background-color: rgb(236, 217, 131);
  border-color: rgb(0, 0, 0);
  color: black;
  border-bottom-width: 3px;
}

.radioApple {
  background-color: rgb(155, 0, 0);
}
.radioBanana {
  background-color: rgb(168, 90, 101);
}
.radioOrange {
  background-color: rgb(0, 189, 0);
}
.radioAnanas {
  background-color: rgb(0, 77, 0);
}

</style>
