<template>
  <div id="userposts">
    <div id="twocolumn" class="row">
      <div class="column left">
        <UserInfo />
      </div>
      <div class="column right">
        <h1 style="text-align: left; font-size: 1.4em">Ievadi uzdevumu</h1>
        <form id="input" v-on:submit.prevent="AddPost">
          <Radio @changePoints="changePoints($event)"/>
          <div class="label1">Uzdevuma teksts</div>
          <textarea v-model="postText" minlength="20" />
          <input type="submit" value="Pievienot" id="button" class="green" />
        </form>
      </div>
    </div>
    <PostsList />
  </div>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator'
import { myStore, StoreUser } from '../store'
import UserInfo from '@/components/UserInfo.vue'
import Radio from '@/components/Radio.vue'
import PostsList from '@/components/PostsList.vue'
import ExtUser from '@/components/ExtUser.vue'

@Component({
  components: {
    UserInfo,
    Radio,
    PostsList
  }
})
export default class UserPosts extends ExtUser {
  private postText = ''
  private postPoint = 1
  private deleteIndex = -1

  changePoints (n: number) {
    this.postPoint = n
  }

  AddPost () {
    if (this.postText !== '' && this.postPoint !== 0) {
      myStore.PostAdd(this.postText, this.postPoint)
      this.postText = ''
      this.postPoint = 1
    }
  }
}
</script>

<style scoped>
#userposts {
  text-align: left;
}

#input .label {
  display: inline-block;
  width: 250px;
  height: 20px;
  border-bottom: 1px solid #000;
  padding: 2px 2px;
  margin-right: 10px;
  font-size: 1.1em;
  font-weight: bold;
}
#input .label1 {
  padding-top: 5px;
  font-size: 1.1em;
  font-weight: bold;
}
#input input[type="number"] {
  width: 60px;
  height: 30px;
  border: 1px solid #000;
  padding: 2px 5px;
  font-size: 1.2em;
}

#input textarea {
  width: 350px;
  height: 142px;
  padding: 2px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 14px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: -20px;
}
#twocolumn {
  padding-bottom: 5px;
}

#twocolumn .left {
  width: 25%;
  margin-left: -1px;
}

#twocolumn .right {
  width: 73%;
}

</style>
