<template>
  <div id="user">
    <h1>Ievadi vārdu</h1>
    <form id="form" v-on:submit.prevent="SaveUser">
      <input type="text" v-model="username" placeholder="Username" />
      <input type="submit" value="Add User" />
    </form>
  </div>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator'
import App from 'App.vue'
import { myStore } from '../store'

@Component
export default class UserInput extends Vue {
  private username = ''

  public SaveUser () {
    if (this.username !== '') {
      myStore.AddUser(this.username)
    }
  }
}
</script>

<style scoped>
#user {
  height: 200px;
}
</style>
