<template>
  <div class="userList">
      <div
        v-for="data in userList"
        v-bind:key="data.id"
        v-bind:class="'block'"
      >
      <span v-bind:class="'dot ' + data.active + data.ingame"></span><span class="username">{{data.name}}</span>
    </div>
  </div>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator'
import { myStore, StoreUser } from '../store'
import ExtUser from '@/components/ExtUser.vue'

@Component
export default class UsersList extends ExtUser {
}
</script>

<style scoped>
#userList {
  display: block;
  text-align: left;
}

.block {
  text-align: left;
}

.username {
  display: inline-block;
  height: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  vertical-align: top;
}

.dot {
  height: 15px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 2px;
  margin-top: 2px;
}
.falsefalse {
  background-color: rgb(49, 4, 4);
}

.truetrue {
  background-color: rgb(73, 233, 24);
}

.trueundefined {
  background-color: rgb(186, 199, 6);
}

.truefalse {
  background-color: rgb(186, 199, 6);
}

.falseundefined {
  background-color: rgb(49, 4, 4);
}
</style>
