<template>
  <div id="userCard">
    <div class="container">
      <div class="shadow" style="width:250px">
        <header class="container green header">
          <div class="points"> {{ user.points }}</div>
          <div class="name">{{ GetName() }}</div>
        </header>
        <div class="container">
          <p> </p><br />
          <hr />
          <p> </p><br />
        </div>
        <div class="block dark-grey">active {{ userID }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { StoreUser, myStore } from '../store'
import ExtUser from '@/components/ExtUser.vue'

@Component
export default class UserCard extends ExtUser {
  @Prop() public userID!: number

  GetName () {
    return this.user.name.substr(0, 25)
  }
}
</script>

<style scoped>
#userCard {
  margin-bottom: 10px;
}
.header {
  padding-top: 10px;
  padding-bottom: 20px;
}
.points {
  float: left;
  text-align: left!important;
  font-size: 2em;
  font-weight: bold;
}
.name {
  padding-top: 4px;
  text-align: center!important;
  font-weight: bold;
  font-size: 1.3em;
}
.container {
  padding-left: 10px;
}
.shadow {
  box-shadow: 1 5px 5px 5px rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.circle{border-radius:50%}

.block {
  margin-left: -1px;
  padding-top: 10px;
  padding-bottom: 10px;
  display:block;
  width:101%
}

.dark-grey {
  color:#fff!important;
  background-color:#02270a!important
}

.light-grey {
    color:#000!important;
    background-color:#1faa1f!important
}
</style>
