<template>
  <div id="user_info">
    <h3>Lietotājs: {{ user.name }}</h3>
    <h3>Jautājumi: {{ GetActions() }}</h3>
    <h3>Punkti: {{ user.actions }}</h3>
    <div class="bottom">
      <div v-if="user.actions == 0 && GetActions() > 0">
        <input type="submit" value="Sākt spēli" id="button" class="red" v-on:click="startGame" />
      </div>
      <div v-else>
        Lai sāktu spēli
        <div v-if="GetActions() == 0">Ivadi vismaz divus uzdevumus</div>Punktiem jābūt vienādam ar 0
      </div>
    </div>
  </div>
</template>

<script lang="ts">

import { Component, Vue, Prop } from 'vue-property-decorator'
import { myStore, StoreUser } from '../store'
import ExtUser from '@/components/ExtUser.vue'

@Component
export default class UserInfo extends ExtUser {
  startGame () {
    console.log('starting game')
    myStore.StartGame()
  }

  GetActions () {
    return this.user.posts ? this.user.posts.length : 0
  }
}
</script>

<style scoped>
#user_info {
  position: relative;
}

#button {
  width: 100%;
}
</style>
