<template>
  <div id="app">
    <Home v-if="storeState.logged" />
    <h1 v-else>Wait for server</h1>
  </div>
</template>

/*
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
/*
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { myStore, StoreState } from './store'
import Home from '@/views/Home.vue'

@Component({
  components: {
    Home
  }
})
export default class App extends Vue {
  private storeState: StoreState = {
    username: '',
    logged: false,
    update: false
  }

  created () {
    window.addEventListener('beforeunload', this.leaving)
    myStore.Init()
  }

  mounted () {
    this.storeState = myStore.state
  }

  leaving () {
    myStore.LeavePage()
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#button {
  width: 265px;

  border: none;
  padding: 12px;
  overflow: hidden;
  cursor: pointer;

  font-size: 1.3em;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.bottom {
  margin-top: 50%;
  left: 0;
  bottom: 0;
  width: 100%;
}

#twocolumn .column {
  padding: 5px;
  float: left;
  height: 100%;
  border: 1px solid black;
}

#twocolumn .left {
  width: 80%;
}

#twocolumn .right {
  width: 17%;
  margin-left: -1px;
}

#twocolumn .row:after {
  content: "";
  display: table;
  clear: both;
}

.green {
    background-color: #4caf50;
}

.red {
    background-color: #c80606;
}

</style>
